.aui--FeedbackFormCsi {
  &-Label {
    color: var(--color-typo-secondary);

    &-Required {
      margin-left: var(--space-xs);
      color: var(--color-typo-ghost);
      font-size: var(--size-text-2xs);
      line-height: var(--line-height-text-m);
    }
  }

  &-Rating {
    margin-top: var(--space-xs);

    &-Button {
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;

      & .Icon {
        width: var(--space-3xl);
        height: var(--space-3xl);
        color: var(--color-typo-ghost);
        transition: color 0.3s;
      }

      &_active .Icon {
        color: var(--color-bg-caution);
      }
    }
  }
}
