.Modal-Window.aui--FeedbackForm {
  max-width: var(--feedbackform-modal-width);
  min-height: var(--feedbackform-modal-height);
}

.aui--FeedbackForm {
  --feedbackform-modal-width: 288px;
  --feedbackform-modal-height: 120px;
  --feedbackform-container-padding:
    var(--space-2xl) var(--space-m)
    var(--space-m) var(--space-m);
  --feedbackform-slot-gap: var(--space-m);
  --feedbackform-close-button-offset: var(--space-xs);
  position: relative;
  pointer-events: auto;

  &_isDesktop {
    --feedbackform-modal-width: 450px;
    --feedbackform-modal-height: 160px;
    --feedbackform-container-padding:
      var(--space-4xl) var(--space-2xl)
      var(--space-2xl) var(--space-2xl);
    --feedbackform-slot-gap: var(--space-xl);
    --feedbackform-close-button-offset: var(--space-s);
  }

  &-Container {
    position: relative;
    padding: var(--feedbackform-container-padding);
    background-color: var(--color-bg-default);

    &_view {
      &_center {
        text-align: center;
      }
    }

    & > *:not(:last-child):not(:first-child) {
      margin-bottom: var(--feedbackform-slot-gap);
    }
  }

  &-SubmitMessage {
    margin-bottom: var(--space-m);
  }

  &-CloseButton {
    position: absolute;
    top: var(--feedbackform-close-button-offset);
    right: var(--feedbackform-close-button-offset);
  }

  &-Textarea {
    & .TextField-Label {
      line-height: var(--line-height-text-s);
    }

    & .TextField-Input {
      padding: calc(var(--space-s) / 2) 0;
      font-size: var(--size-text-s);
      line-height: var(--line-height-text-m);
    }
  }
}
