.aui--FeedbackForm {
  position: relative;

  &-Modal {
    max-width: 451px;
    min-height: 160px;
    pointer-events: auto;

    @media screen and (max-width: 480px) {
      min-height: 120px;

      &.Modal-Window {
        min-width: 288px;
      }
    }
  }

  &-Container {
    position: relative;
    padding-top: var(--space-4xl);
    padding-right: var(--space-2xl);
    padding-left: var(--space-2xl);
    padding-bottom: var(--space-2xl);
    background-color: var(--color-bg-default);

    @media screen and (max-width: 480px) {
      padding-top: var(--space-2xl);
      padding-right: var(--space-m);
      padding-left: var(--space-m);
      padding-bottom: var(--space-2xl);

      &_view_default,
      &_view_center {
        & > *:last-child:not(:nth-child(3)) {
          margin-top: var(--space-xs);
        }
      }
    }

    &_view {
      &_default {
        text-align: left;

        & > *:not(:last-child):not(:first-child) {
          margin-bottom: var(--space-xl);

          @media screen and (max-width: 480px) {
            margin-bottom: var(--space-m);
          }
        }
      }

      &_center {
        text-align: center;

        & > *:not(:last-child):not(:first-child) {
          margin-bottom: var(--space-m);

          @media screen and (max-width: 480px) {
            margin-bottom: var(--space-m);
          }
        }
      }
    }
  }

  &-SubmitMessage {
    margin-bottom: var(--space-m);

    @media screen and (max-width: 480px) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &-CloseButton {
    position: absolute;
    top: var(--space-s);
    right: var(--space-s);

    @media screen and (max-width: 480px) {
      top: var(--space-xs);
      right: var(--space-xs);
    }
  }

  &-Textarea {
    & .TextField-Label {
      line-height: var(--line-height-text-s);
    }

    & .TextField-Input {
      padding: calc(var(--space-s) / 2) 0;
      font-size: var(--size-text-s);
      line-height: var(--line-height-text-m);
    }
  }
}

.Modal {
  pointer-events: none;
}
